<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RTS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css">
    @font-face {
        font-family: 'mon-light';
        src: url(http://mylabel.co.in/font/FuturaLT-Bold.ttf);
    }

  
    </style>
</head>
<body>
    <section>
              <div class="maindiv" style="width:550px;background:#f7f7f7;padding:43px 50px 30px 50px ;font-family:'sans-serif';width:500px;">
                <div class="maincontentstart" style="background:#fff;padding:45px;">
                   <img alt="alt text" src=${logo} style="width:45%;">
                   
   
                    <hr style="margin-top:45px;margin-bottom:40px;border-bottom:1px solid #eee;border-top:0px solid #aaa;width:90%;">
                    <p style="letter-spacing: .05rem;color:#8d8d8d;font-size: 16px;margin-top:35px;">Dear Customer</p>
		<p style="letter-spacing: .05rem;color:#8d8d8d;font-size: 16px;margin-top:35px;">thank you for registering</p>
                             
                </div>   
         
                <div>
                    <div style="background:#fff;padding:1px;">
                      <hr style="border-bottom:1px solid #eee;border-top:0px solid #aaa;width:100%;">
                   	<div style="display:inline-flex;padding-bottom:8px;width:100%;">
                    </div>
                </div>
                 <div style="tex-align:center;">
                    <p style="margin-top:30px;margin-bottom:0px;text-decoration:none"> <span style="color:#555;font-weight:bold;text-decoration:none>© 2018 <a href="#" target="_blank">.</a> </span><span style="color:#8d8d8d; font-size:18px;">all rights reserved</span> | Designed by<a href="http://rssquarz.com/" target="_blank" style="color:#000;font-weight:bold;"> RTS</a></p>
                 </div>
            </div>
        </center>
    </section>
               
                 
                
                
              
</body>
</html>