<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <title>RTS</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif !important;
        }

        button {
            font-family: 'Roboto', sans-serif !important;
        }
    </style>
</head>

<body>
    <section>
        <center>
            <div class="maindiv"
                style="width:550px;background:#f7f7f7;padding:50px 50px 10px 50px ;width:500px;border-radius: 25px">
                <div class="maincontentstart" style="background:#fff; box-shadow: 0px 0px 2px grey;border-radius: 15px;">
                    <div style="background :#2b96d4; padding: 33px;border-top-left-radius: 15px; border-top-right-radius: 15px;">
                     
                        <img src="http://apnagrahak.in/img/ApnaGrahakGreenLogo.png" alt="logo" style="width:180px;" />
                    </div>
                    <hr style="margin-top:0px;margin-bottom:35px;border-top:0px solid #aaa;width:100%;" />
                    <div style="height: 300px" >
                    
                   
                          <p style="font-size: 16px;margin-top:20px;margin-bottom:5px;">Dear
                       <span th:href="${'mailto:'+user.firstName}" style="font-size: 16px;" th:text="${user.firstName}"></span>, </p>
                         <b> <span th:href="${password}" style="font-size: 16px;" th:text="${password}"></span> </b>
                        <span style="font-size: 16px;margin-top:20px;"> is your password</span>
                      
                    </div>
                </div>
                <div>
                    <div style="display:inline-flex;padding-bottom:8px;width:100%;">
                    </div>
                </div>
                <div style="text-align:center;">
                    <span style="color:#555;font-weight:bold;text-decoration:none;font-size:10px;">© 2019 </span><span style="color:#808080; font-size:10px;">All Rights
                        Reserved | Designed by<a href="http://rssquarz.com/" target="_blank"
                            style="color:#000;font-weight:bold;font-size:10px;"> RTS</a></span>
                </div>
            </div>
        </center>
    </section>
</body>

</html>

